.card-product {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 15px;
    width: 172px;
    height: 245px;
    cursor: pointer;
}

.money {
    position: relative;
    top: 5%;
    font-size: 20px;
    font-weight: bolder;
}

.name-product {
    position: relative;
    top: 5%;
    font-size: 15px;
}

.img-product {
    height: 170px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-shrink: 0;
}

a,
a:link {
    text-decoration: none;
    color: #000000;
}