.App {
    text-align: center;
}

#context{
    display: flex;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 5vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.search-product {
    position: fixed;
    left: 35%
}

.search-product input{
    width: 300px;
    background-color: #282c34;
    color: #ffffff
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

